.adminLayout{
   margin: 70px auto 0px auto;
   height: 87vh;
   border: 1px solid #A1BDED;
   border-radius: 10px;
   box-shadow: 3px 2px 5px 1px  #49698d80;
   width: 85vw;
}

.adminLayout-content{
   display: flex;
   height: 100%;
}

.side-menu{
   width: 300px;
   background-color: #CEDAFD;
   border-top-left-radius: 9px;
   border-bottom-left-radius: 9px;
   
}
.menu-titles{
   border-bottom: 1px solid #A1BDED;
   margin: 10px 5px;
   
}
.menu-title{
   margin: 13px ;
   font-size: 20px;
   cursor: pointer;
}
.menu-title-content {
   color: #2B4358;
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

.menu-title-content span {
   margin-left: auto;
}

.menu-title-content:hover,
.dropdown-menu li:hover{
   color: #6A8CBB;
}

.dropdown-menu{
   margin: 10px 20px;
   color: #46668A;
   font-size: 15px;
   cursor: pointer;
}
.dropdown-menu li{
   margin: 5px 0px;
}
.main-menu{
   margin: 15px;
   width: 100%;
}
