.main {
  padding: 2rem;
  padding: calc(2rem + 50px); /* 상단바의 높이를 고려한 패딩 */
  margin-top: 10px; /* 헤더와의 간격 조정 */
}

.products {
  text-align: center;
}

.product-list {
  display: flex; /* Flexbox 사용 */
  flex-wrap: wrap; /* 줄 바꿈 가능하도록 설정 */
  justify-content: center; /* 중앙 정렬 */
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: calc(33.33% - 2rem); /* 한 줄에 3개씩 나열되도록 너비 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
  transition: transform 0.2s; /* 카드 효과 추가 */
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 정렬 */
  justify-content: space-between; /* 내부 요소 간격 조정 */
  height: 350px; /* 고정 높이 설정 (원하는 높이로 조정 가능) */
}

.product-card:hover {
  transform: scale(1.05); /* 마우스 오버 시 확대 효과 */
}

.product-card img {
  width: 100%;
  height: 200px; /* 고정 높이 */
  object-fit: contain;
  border-radius: 5px;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem 0;
}

.btn0 {
  background-color: #4477b1;
  border: none;
  color: white;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn0:hover {
  background-color: #1b3672;
}
