.orderDetail{
  padding: 10px 30px 10px 25px;
}

.table-div1 {
  width: 100%;
}

.table-div1 table { 
  width: 95%;
}

.tabled td {
  text-align: center;
  padding: 5px 15px;
}

.tabled > tbody> tr > td:nth-child(1) {
  /* width: 40%; */
  border-top: 2px solid #E1E7FF;
  border-bottom: 2px solid #E1E7FF;
  background-color: #F2F4FF;
  height: 50px;
  vertical-align: middle;
}

.tabled > tbody> tr > td:last-child {
  border-top: 2px solid #f4f6ff;
}

.table-div1{
  width: 100%;
  height: 100%;
}

.n >tr, .n td{
  background-color: white;
  border-top: none;
  border-bottom: none ;
}

.tabled > tbody > tr:nth-child(7) >td {
  padding: 0px 5px;
}
.n{
  width: 100%;
}

.n thead > tr > td{
  border-bottom: 2px solid #eff1f7;
  color: #97adc9;
  font-size: 0.9rem;
  padding: 5px 0px 7px 0px;
}

.n tbody > tr > td {
  padding: 10px 0px 5px 0px;
}

.n tr > td:last-child {
  border-right: none;
}

.tabled > tbody > tr:last-child {
  border-bottom: 2px solid #f4f6ff;
}