.sales-1{
  
}
.sales-2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.s2{
  box-shadow: 1px 1px 3px 1px  #dddddd;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s2 > div:first-child{
  color:rgb(41, 98, 148);
  font-weight: 600;
  letter-spacing: 3px;
}
  
.s2 .s2-title{
  font-size: 0.8rem;
  color: #cccccc;
  border-left: 1px solid #bbbbbb;
  padding-left: 5px;
  margin-left: 5px;
  font-weight: 500;
  letter-spacing: 1px;
}
.s2 > div:nth-child(2){
  display: flex;
  flex-direction: row;
  align-items: center;
}
.s2 .s2-icon{
  background-color: #eeeeee;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 50px;
}

.sales-3{
  box-shadow: 1px 1px 3px 1px  #dddddd;
  margin-bottom: 30px;
}