<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <resultMap id="item" type="com.green.Supplier.item.vo.ItemVO">
        <id column="ITEM_NUM" property="itemNum"/>
        <result column="ITEM_NAME" property="itemName"/>
        <result column="PRICE" property="price"/>
        <result column="STOCK" property="stock"/>
        <result column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_DETAIL" property="itemDetail"/>
        <result column="ITEM_IMG" property="itemImg" />
        <result column="TYPE_NUM" property="typeNum"/>
        <result column="SUP_NUM" property="supNum"/>
        <association property="typeVO" resultMap="type" />
        <association property="supVO" resultMap="supMapper.sup" />
    </resultMap>

    <resultMap id="type" type="com.green.Supplier.item.vo.TypeVO">
        <id column="TYPE_NUM" property="typeNum" />
        <result column="TYPE_NAME" property="typeName" />
    </resultMap>

    <select id="getItem" resultMap="item">
        SELECT * FROM ITEM;
    </select>

    <select id="selectCartItems" resultMap="item">
        SELECT
        I.ITEM_NUM,
        I.ITEM_NAME,
        I.PRICE,
        I.STOCK,
        I.ITEM_CODE,
        I.ITEM_DETAIL,
        I.ITEM_IMG,
        I.TYPE_NUM,
        I.SUP_NUM,
        FROM
        SUPM C
        JOIN
        ITEM I ON C.ITEM_NUM = I.ITEM_NUM  -- 아이템과 장바구니 연결
        WHERE
        C.SUPM_ID = #{supmId}  -- 특정 사용자의 장바구니 조회
    </select>

    <insert id="insertCart">
        INSERT INTO ITEM (
        ITEM_NUM
        , SUPM_ID
        ) VALUES (
        #{itemNum}
        ,#{supmId}
        );
    </insert>



</mapper>