<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="orderItemMapper">
    <resultMap id="orderItem" type="com.green.Supplier.orderItem.vo.OrderItemVO">
        <id column="ORDER_NUM" property="orderNum"/>
        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="ORDER_DATE" property="orderDate"/>
        <association property="cusVO" resultMap="cusMapper.cus" />
        <association property="deliverVO" resultMap="deliver"/>
        <association property="orderDetailVO" resultMap="orderDetail"/>
    </resultMap>

    <resultMap id="orderAmount" type="com.green.Supplier.orderItem.vo.OrderAmountVO">
        <result column="TYPE_NAME" property="typeName"/>
        <result column="TOTAL_AMOUNT" property="totalAmount"/>
    </resultMap>

    <resultMap id="deliver" type="com.green.Supplier.orderItem.vo.DeliverVO">
        <result column="DELI_NUM" property="deliNum"/>
        <result column="DELI_STATUS" property="deliStatus"/>
    </resultMap>

    <resultMap id="orderDetail" type="com.green.Supplier.orderItem.vo.OrderDetailVO">
        <id column="DETAIL_NUM" property="detailNum" />
        <result column="ORDER_CNT" property="orderCnt" />
        <result column="ITEM_NUM" property="itemNum" />
        <result column="DETAIL_PRICE" property="detailPrice" />
        <result column="ORDER_NUM" property="orderNum" />
        <result column="DEPART_TIME" property="departTime"/>
        <result column="ARRIVE_TIME" property="arriveTime"/>
        <association property="deliverVO" resultMap="deliver"/>
        <association property="itemVO" resultMap="itemMapper.item" />
    </resultMap>

    <!-- 공급사 주문서 목록 -->
    <select id="getOrderList" resultMap="orderItem">
        SELECT O.ORDER_NUM, C.CUS_NUM, C.CUS_NAME, O.ORDER_DATE, O.TOTAL_PRICE, C.CUS_ADDR, C.CUS_TEL, O.DELI_NUM, D.DELI_STATUS
        FROM cus C, item I, deliver D, order_item O, ORDER_DETAIL OD
        WHERE OD.ORDER_NUM = O.ORDER_NUM
            AND O.CUS_NUM = C.CUS_NUM
            AND I.ITEM_NUM = OD.ITEM_NUM
            AND O.DELI_NUM = D.DELI_NUM
        ORDER BY O.ORDER_NUM DESC;
    </select>
</mapper>
