<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="orderItemMapper">
    <resultMap id="orderItem" type="com.green.Supplier.orderItem.vo.OrderItemVO">
        <id column="ORDER_NUM" property="orderNum"/>
        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="ORDER_DATE" property="orderDate"/>
        <association property="cusVO" resultMap="cusMapper.cus" />
        <association property="deliverVO" resultMap="deliver"/>
        <association property="orderDetailVO" resultMap="orderDetail"/>
    </resultMap>

    <resultMap id="orderAmount" type="com.green.Supplier.orderItem.vo.OrderAmountVO">
        <result column="TYPE_NAME" property="typeName"/>
        <result column="TOTAL_AMOUNT" property="totalAmount"/>
    </resultMap>

    <resultMap id="deliver" type="com.green.Supplier.orderItem.vo.DeliverVO">
        <id column="DELI_NUM" property="deliNum"/>
        <result column="DELI_STATUS" property="deliStatus"/>
    </resultMap>

    <resultMap id="orderDetail" type="com.green.Supplier.orderItem.vo.OrderDetailVO">
        <id column="DETAIL_NUM" property="detailNum" />
        <result column="ORDER_CNT" property="orderCnt" />
        <result column="ITEM_NUM" property="itemNum" />
        <result column="DETAIL_PRICE" property="detailPrice" />
        <result column="ORDER_NUM" property="orderNum" />
        <result column="DEPART_TIME" property="departTime"/>
        <result column="ARRIVE_TIME" property="arriveTime"/>
        <association property="deliverVO" resultMap="deliver"/>
        <association property="typeVO" resultMap="itemMapper.type" />
        <association property="itemVO" resultMap="itemMapper.item" />
        <association property="cusVO" resultMap="cusMapper.cus" />
    </resultMap>

    <!-- 공급사 주문서 목록 -->
    <select id="getOrderList" resultMap="orderItem">
        SELECT O.ORDER_NUM, C.CUS_NUM, C.CUS_NAME, O.ORDER_DATE, O.TOTAL_PRICE, C.CUS_ADDR, C.CUS_TEL, O.DELI_NUM, D.DELI_STATUS
        FROM cus C, item I, deliver D, order_item O, ORDER_DETAIL OD
        WHERE OD.ORDER_NUM = O.ORDER_NUM
            AND O.CUS_NUM = C.CUS_NUM
            AND I.ITEM_NUM = OD.ITEM_NUM
            AND O.DELI_NUM = D.DELI_NUM
        <if test='searchValue != null and !searchValue.equals("")'>
            AND ${searchType} LIKE CONCAT('%', #{searchValue}, '%')
        </if>
        ORDER BY O.ORDER_NUM DESC;
    </select>

    <!-- 매출 조회 -->
    <select id="getSales" resultMap="orderItem">
        SELECT *
        FROM order_item
    </select>

    <!-- 제품 당 주문량 조회-->
    <select id="getOrderCountByCusNumForItems" resultMap="orderDetail">
        SELECT OD.ITEM_NUM,
               SUM(OD.ORDER_CNT) AS totalOrderCnt
        FROM ORDER_DETAIL OD
        JOIN ORDER_ITEM OI ON OD.ORDER_NUM = OI.ORDER_NUM
        WHERE OI.CUS_NUM = #{cusNum}
        GROUP BY OD.ITEM_NUM
    </select>

    <!-- 공급사 개별상품주문 목록 -->
    <select id="getOrderDetailList" resultMap="orderDetail">
        SELECT OD.DETAIL_NUM, T.TYPE_NUM, T.TYPE_NAME, I.ITEM_IMG, I.ITEM_NAME, C.CUS_NUM, C.CUS_NAME, OD.DETAIL_PRICE, I.PRICE, I.STOCK, OD.ORDER_CNT
        , O.ORDER_NUM, O.ORDER_DATE, OD.DEPART_TIME, OD.ARRIVE_TIME, O.TOTAL_PRICE, C.CUS_ADDR, C.CUS_TEL, D.DELI_NUM, D.DELI_STATUS, OD.ORDER_NUM
        FROM cus C, item I, deliver D, order_item O, ORDER_DETAIL OD, item_type T
        WHERE OD.ORDER_NUM = O.ORDER_NUM
        AND I.TYPE_NUM = T.TYPE_NUM
        AND O.CUS_NUM = C.CUS_NUM
        AND I.ITEM_NUM = OD.ITEM_NUM
        AND OD.DELI_NUM = D.DELI_NUM
        AND OD.ORDER_NUM = #{orderNum}
        <if test='searchValue != null and !searchValue.equals("")'>
            AND ${searchType} LIKE CONCAT('%', #{searchValue}, '%')
        </if>
        ORDER BY OD.ORDER_NUM DESC;
    </select>

    <!--주문 번호 목록 조회-->
    <select id="getOrderNumList" resultType="int">
        SELECT ORDER_NUM
        FROM order_item
        ORDER BY ORDER_NUM DESC;
    </select>

    <!-- 주문 취소=주문서 삭제 -->
    <update id="deleteOrder">
        DELETE FROM order_item
        WHERE order_num = #{orderNum};
    </update>

    <!-- 개별 주문 취소 -->
    <update id="deleteDetail">
        DELETE FROM order_detail
        WHERE detail_num = #{detailNum};
    </update>

    <!-- 개별 주문 배송 시작 -->
    <update id="setDeliStart">
        UPDATE order_detail
        SET DELI_NUM = 3, DEPART_TIME = CURRENT_TIMESTAMP
        WHERE DETAIL_NUM = #{detailNum};
    </update>

    <!-- 주문 배송 시작 -->
    <update id="setDelisStart">
        UPDATE order_item O, order_detail OD
        SET O.DELI_NUM = 3, OD.DELI_NUM = 4, OD.DEPART_TIME = CURRENT_TIMESTAMP
        WHERE O.ORDER_NUM = #{orderNum} AND O.ORDER_NUM = OD.ORDER_NUM;
    </update>

</mapper>
